In [8]:
import pandas as pd
import numpy as np

data = pd.read_csv("sudoku.csv")
data.head()

,quizzes,solutions
0,0043002090050090010700600430060020871900074000...,8643712593258497619712658434361925871986574322...
1,0401000501070039605200080000000000170009068008...,3461792581875239645296483719658324174729168358...
2,6001203840084590720000060050002640300700800069...,6951273841384596727248369158512647392739815469...
3,4972000001004000050000160986203000403009000000...,4972583161864397252537164986293815473759641828...
4,0059103080094030600275001000300002010008200070...,4659123781894735623275681497386452919548216372...

In [9]:
# Rename the columns
data.columns = ["data", "gt"]
data.head()

,data,gt
0,0043002090050090010700600430060020871900074000...,8643712593258497619712658434361925871986574322...
1,0401000501070039605200080000000000170009068008...,3461792581875239645296483719658324174729168358...
2,6001203840084590720000060050002640300700800069...,6951273841384596727248369158512647392739815469...
3,4972000001004000050000160986203000403009000000...,4972583161864397252537164986293815473759641828...
4,0059103080094030600275001000300002010008200070...,4659123781894735623275681497386452919548216372...

In [10]:
data["data"] = data["data"].apply(lambda x: [int(i) for i in x])

In [11]:
data["gt"] = data["gt"].apply(lambda x: [int(i) for i in x])

In [12]:
# Now the data is in the same format as Paolo's data, save it into a new file
data.to_csv("kaggle_sudoku.txt", index=False)

In [13]:
# Split the data into train and test with 80:20 ratio
train = data[:int(0.8*len(data))]
test = data[int(0.8*len(data)):]

In [14]:
test.to_csv("test.txt", index=False)

In [15]:
#Â Divide the train into train e val with 80:20 ratio
training = train[:int(0.8*len(train))]
val = train[int(0.8*len(train)):]

In [16]:
training.to_csv("train.txt", index=False)
val.to_csv("val.txt", index=False)

In [17]:
print("Training examples: ", len(training))
print("Validation examples: ", len(val))
print("Test examples: ", len(test))

Training examples:  640000
Validation examples:  160000
Test examples:  200000